.mainTitle{
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 35px;
    /* font-family: "Open Sans", sans-serif; */
}
a:hover{
    color: #37f;
}

header{
    background: #ddd;
}

.content{
    padding-left: 75px;
}


.paragraphLink{
    text-decoration: underline;
    color: #37f; 
    /* stavit tocnu */
}

#subtitle{
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 23px;
}

#subtitleDate{
    color:  #555;
    font-size: 18px;
}

#defaultWord{
    font-family: WebKitBugWorkaround, monospace;
}