.mainTitle{
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 35px;
    /* font-family: "Open Sans", sans-serif; */
}
a:hover{
    color: #37f;
}

.paragraphLink{
    text-decoration: underline;
    color: #37f; 
    /* stavit tocnu */
}

/* a.paragraphLink:hover{
    color: blue;
} */

#subtitle{
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
}